<nav class="nav">
  <div class="nav-item logo">
    <button class="button">TS</button>
  </div>
  <div class="nav-items">
    <div class="nav-item">
      <a href="#">LINKEDIN <i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="nav-item">
      <a href="#">PORTFOLIO <i class="fas fa-book-open"></i></a>
    </div>
    <div class="nav-item">
      <a href="#">TELEGRAM <i class="fa-brands fa-telegram"></i></a>
    </div>
    <div class="nav-item">
      <a href="#">WHATSAPP <i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="nav-item">
      <a href="#">E-MAIL <i class="fa-solid fa-envelope-open-text"></i></a>
    </div>
  </div>
</nav>
